.dark-mode body {
	background: rgba(0, 0, 0, 0.783);
	color: rgb(238, 235, 235);
	transition: all 0.4s ease-out;
	z-index: 10;
}

/* elemntos del header */
.dark-mode .header {
	background: rgba(0, 0, 0, 0.802);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark-mode .menu__link {
	color: rgba(0, 212, 255, 1);
}

.dark-mode .menu__list:hover {
	background-color: white;
}
.dark-mode .menu__list .menu__link:hover {
	color: black;
}

.dark-mode .logo__dark {
	filter: drop-shadow(0 0 11px rgba(0, 212, 255, 1));
	color: white;
}

.dark-mode .span__dark {
	transition: 0.3s ease-in;
	color: rgba(0, 212, 255, 1);
	filter: drop-shadow(0 0 11px rgba(0, 212, 255, 1));
}
.dark-mode .acerca__nombre span {
	transition: 0.3s ease-in;
	color: rgba(0, 212, 255, 1);
	filter: drop-shadow(0 0 11px rgba(0, 212, 255, 1));
}

.dark-mode .dark-mode__icon {
	align-items: center;
	cursor: pointer;
	display: block;
	filter: invert(0%) sepia(80%) saturate(300%) hue-rotate(110deg)
		brightness(91%) contrast(101%) drop-shadow(0 0 12px rgba(0, 212, 255, 1));
	transition: 0.2s ease-in-out;
}
.dark-mode .bi-lightning-charge-fill {
	font-size: 2.8rem;
	filter: invert(0%) sepia(80%) saturate(300%) hue-rotate(110deg)
		brightness(91%) contrast(101%) drop-shadow(0 0 12px rgba(0, 212, 255, 1));
	color: white;
	cursor: pointer;
}

/* ELEMENTOS DEL MENU HAMBURGUESA */
.dark-mode .hamburger-inner {
	filter: invert(74%) sepia(58%) saturate(4419%) hue-rotate(149deg)
		brightness(102%) contrast(107%);
}
.dark-mode .panel__styles {
	background: rgba(0, 0, 0, 0.99);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
	color: var(--glow-blue);
}

.dark-mode .menu-hamburger__link {
	color: var(--blue);
}

.dark-mode .idioma__icon {
	filter: invert(100%) sepia(22%) saturate(7443%) hue-rotate(110deg)
		brightness(91%) contrast(101%) drop-shadow(0 0 12px rgba(0, 212, 255, 1));
}
.dark-mode .idioma__icon {
	filter: invert(100%) sepia(22%) saturate(7443%) hue-rotate(110deg)
		brightness(91%) contrast(101%) drop-shadow(0 0 12px rgba(0, 212, 255, 1));
}

/* Btn to TOP */

.dark-mode .bi-arrow-up-circle {
	color: var(--blue);
	filter: brightness(91%) contrast(101%)
		drop-shadow(0 0 12px rgba(0, 212, 255, 1));
}

/* ELEMNTOS DEL HERO */

.dark-mode .hero {
	background-color: var(--pure-black);
	background: rgba(0, 0, 0, 0.464);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
}

.dark-mode .hero__titulo {
	color: white;
}

.dark-mode .hero__titulo span {
	color: var(--blue);
	filter: var(--glow-blue);
	transition: 2.5s ease-in-out;
}

.dark-mode .hero__subtitulo {
	color: white;
}
.dark-mode .img__ligth {
	display: none;
}
.dark-mode .img__dark {
	display: block;
	animation: slideup 0.8s ease forwards;
	position: relative;
	filter: drop-shadow(1px 0 15px #ff2386);
	transition: 3s ease-in-out;
}
.dark-mode .icono__dark {
	filter: invert(100%) saturate(0%) drop-shadow(0 0 10px #5cb5ac);
}
.dark-mode .youtube {
	filter: invert(94%) sepia(97%) saturate(0%) hue-rotate(348deg)
		brightness(102%) contrast(102%) drop-shadow(5px 5px 10px #76ffc3);
}

/* SKILLS */
.dark-mode .skills {
	justify-content: flex-start;
	background: linear-gradient(var(--gradient));
}
/* DIVIDERS */
.dark-mode .custom-shape-divider-bottom-1685513857 .shape-fill {
	fill: var(--pure-black);
}

/* Carrusel */

.dark-mode .tools__caja__slider {
	background-color: var(--pure-black);
}
/* icono terminal */
.dark-mode .terminal {
	filter: invert(100%) drop-shadow(-1px 2px 4px #76ffc3);
}
.dark-mode .tool__dark {
	filter: drop-shadow(-1px 2px 4px #76ffc3);
}

/* SECCION ACERCA DE */

.dark-mode .about {
	background: black;
}
.dark-mode .titulo__dark {
	color: var(--blue);
	filter: var(--glow-blue);
}
.dark-mode .acerca__titulo span {
	color: var(--blue);
	filter: var(--glow-blue);
	transition: 3s ease-in-out;
}
.dark-mode .card__about{
	background-color: var(--terminal-bg-dark);
}

.dark-mode .card-title p{
	color: var(--blue);
	filter: var(--glow-blue);
  }


  .card-title span {
    color: var(--pink-terminal);
  }
.dark-mode .terminal__content span {
	color: var(--blue);
	filter: var(--glow-blue);
	transition: 3s ease-in-out;
}
.dark-mode .about__icons{
	filter: var(--icons-glow-dark);
}

.dark-mode .terminal__content p {
	color: white;
}
.dark-mode .terminal__content a:hover {
	color: var(--blue);
}
.dark-mode .icono__boton {
	filter: invert(100%) saturate(0%) drop-shadow(-1px 2px 4px #76ffc3);
}
.dark-mode .boton {
	background:var(--pure-black);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(19px);
	-webkit-backdrop-filter: blur(19px);
	border: 3px solid rgba(244, 247, 247, 0.743);
}
.dark-mode .boton:hover {
	border: 3px solid var(--blue);
}

/* SECCION SKILLS */

.dark-mode .skills__titulo {
	color: rgba(0, 212, 255, 1);
	filter: drop-shadow(0 0 5px rgba(0, 212, 255, 1));
}

.dark-mode .caja__dark {
	background: rgba(18, 0, 33, 0.734);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(19px);
	-webkit-backdrop-filter: blur(19px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.dark-mode .tools__caja {
	border-radius: 50%;
}

.skills__caja:hover .skills__icono__dark {
	filter: invert(24%) sepia(1%) saturate(40%) hue-rotate(42deg) brightness(96%)
		contrast(80%);
}

/* Portafolio */
.dark-mode .portafolio {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}
.dark-mode .caja__dark__portafolio {
	background: rgba(0, 0, 0, 0.16);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Seccion Hobbies */
.dark-mode .hobbies{
	background: linear-gradient(var(--gradient));
}

.dark-mode .footer {
	background-color: #040404;
}

.dark-mode .formulario {
	background-color: black;
}

@media (min-width: 768px) {
	.dark-mode .header {
		background: rgba(0, 0, 0, 0.802);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(12.5px);
		-webkit-backdrop-filter: blur(12.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
	}

	.dark-mode .panel__styles {
		background: transparent;
		box-shadow: unset;
		border: none;
		color: transparent;
	}
	.dark-mode .hero {
		background-color: var(--pure-black);
		background: rgba(0, 0, 0, 0.464);
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
	}
}
