.about{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: 339px;
}  

.about__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    height: 132vh;
    align-items: center;
}

.about__titulo{
    display: flex;
    font-size: 3.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
    text-align: center;
    justify-content: center;
}
.about__titulo span{
    color: var(--seccond-color);
    text-shadow: 0px 1px 3px #000000;
}
.about__titulo span:hover {
    color: var(--blue);
    filter: drop-shadow(0 0 12px var(--blue));
}



.about__caja{
    display: flex;
    flex-direction: column;
    width: 92%;
    min-width: 271px;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: 500;
}

.about__textos{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding: 0 14px;
}



.about__contactar{
    display: flex;
    justify-content: center;
    width:100%
}
.contactar__boton__icono{
    width:25px;
}

@media (min-width:768px){
    .about{
        background: url(../img/IAselfie2.webp) left no-repeat;
        height: 88vh;
        background-size: 457px;
        align-items: flex-end;
        justify-content: center;
        min-height: 768px;
    }
    .about__container{
        display: flex;
        width: 60%;
        align-items: center;
        padding-right: 11px;
        z-index: 2;
        justify-content: flex-start;
        height: unset;
    } 
    .about__titulo{
        display: flex;
        font-size: 4em;
    }

    .about__caja{
        display: flex;
        width: 100%;
        height: auto;
        min-width: auto;
    }
    .about__textos{
        text-align: justify;
        font-weight: lighter;
        font-size: 18px;
        padding: 0 30px;
    }
    .about__contactar{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width:100%
    }
}

@media (min-width:1200px){
    .about{
        display: flex;
        width: 100%;
        height: 68vh;
        min-height: 660px;
        justify-content: flex-start;
        background-size: 605px;
    }
    .about__container{
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    .about__titulo{
        display: flex;
        
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 459px;
    }
    .about__caja{
        display: flex;
        width: 54%;
        padding: 0 0px;
        min-width: auto;
        max-width: 884px;
        margin-right: -497px;
        justify-content: flex-start;
    }
    .about__contactar{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        width: 69%;
    }
}
