.wrapper{
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

.custom-shape-divider-bottom-1685513857 {
    position: absolute;
    bottom: -46px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.custom-shape-divider-bottom-1685513857 svg {
    position: relative;
    display: block;
    width: calc(152% + 21.80000000000001px);
    height: 131px;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
    fill: rgb(206, 206, 206);
    
}

/* Divider black */
.wrapper__black{
    display: block;
}


.custom-shape-divider-bottom-1693539436 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693539436 svg {
    position: relative;
    display: block;
    width: calc(-123% + 1644.3000000000002px);
    height: 163px;
}


.custom-shape-divider-bottom-1693539436 .shape-fill {
    fill: #000000;
}




@media (min-width:768px){
    .custom-shape-divider-bottom-1685513857 {
        position: absolute;
        bottom: -169px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1685513857 svg {
        position: relative;
        display: block;
        width: calc(152% + 299.79999999999995px);
        height: 310px;
    }
    .custom-shape-divider-bottom-1685513857 .shape-fill {
        fill:rgb(206, 206, 206);
    }

    /* Divider Black */
    .custom-shape-divider-bottom-1693539436 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1693539436 svg {
        position: relative;
    display: block;
    width: calc(126% + -39.7px);
    height: 168px;
    }
    
    .custom-shape-divider-bottom-1693539436 .shape-fill {
        fill: #000000;
    }
        
}
@media (min-width:1200px){
    .custom-shape-divider-bottom-1685513857 {
        position: absolute;
        bottom: -189px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1693539436 svg {
        position: relative;
        display: block;
        width: calc(97% + 96.3px);
        height: 170px;
    }
    
    
    
    
    .custom-shape-divider-bottom-1685513857 .shape-fill {
        fill:rgb(206, 206, 206);
    }
  
    /* Divider Black */
   

        
}