.formulario{
    display: flex;
    height: auto;
    min-height: 815px;
    flex-direction: column;
    background-size: 197px;
    /* padding-right: 78px; */
    align-items: center;
    justify-content: flex-end;
}


.formulario__caja{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    color: var(--purple);
    width: 91%;
    font-weight: 600;
    max-width: 500px;
}
.formulario__titulo{
    font-size: 2rem;
}

.formulario__submit{
    padding: 16px 84px;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}

    

.input-container{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    justify-content: space-evenly;
    gap: 10px;
    flex-direction: column;    
}

.input-container input{
    padding: 11px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-container .text__boxes{
    padding: 6px;
    width: 100%;
}

.input-container label {
    font-size: 1rem;
}

/* validaciones formulario */
.contact_form_loader{
    display: flex ;
    justify-content: center;
    margin-top: 34px;
}

.contact__div__form__response{
    display: flex;
    justify-content: center;
}

.formulario__contacto [required]:valid{
    border:  2px solid var(--form-ok-color);

}
.formulario__contacto [required]:invalid{
    border: 1.5px solid var(--form-error-color);

}

.contact-form-error{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    transition:  all 800ms ease;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-in-out both;
}
.contact-form-span{
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    animation: show-message 1s 1 normal 0s ease-in-out both;
}
.none{
    display: none;
}



@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}







@media (min-width:768px){
    .formulario{
        display: flex;
        justify-content: center;
        height: 92vh;
        min-height: 148px;
        align-items: flex-start;
        margin: 0 0 0 117px;
        background: url(../img/vice-vehicle.webp) no-repeat right;
    }
    .formulario__caja{
        display: flex;
        flex-direction: column;
        padding: 25px;
        max-width: 56%;
        width: 57%;
        align-items: stretch;
    }
    .formulario__img{
        display: none;
    }
    .input-container .text__boxes {
        padding: 10px;
        width: 100%;
        font-size: 1rem;
        resize: none;
    }
}


@media (min-width:1200px){
    .formulario{
        display: flex;
        justify-content: center;
        height: 106vh;
        min-height: 724px;
        align-items: flex-start;
        margin: 0 0 0 116px;
        background: url(../img/vice-vehicle.webp) no-repeat right;
        background-size: 761px;
        flex-direction: column;
    }
    .formulario__caja{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 29px;
        width: 60%;
        max-width: 40%;
        height: auto;
    }
    .formulario__submit{
        padding: 15px 15px;
        font-size: 1.1rem;
        font-weight: 700;
        width: 13%;
    }
    .submit{
        display: flex;
        width: 100%;
        flex-direction: row;
    
    }
}
