.portafolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portafolio__titulo{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.portafolio__contenedor{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    gap: 30px;
}
.portafolio__trajeta{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 350px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    justify-content: space-evenly;
    max-width: 406px;
}
.portafolio__trajeta:hover .faceA{
    transform: perspective(600px) rotateY(180deg);
}
.portafolio__trajeta:hover .faceB{
    transform: perspective(600px) rotateY(360deg);
}
.portafolio__trajeta .portafolio__cara{
    display: flex;
    position: absolute;
    backface-visibility: hidden;
    transition: .5s;
    flex-direction: column;
    align-items: center;
}
.portafolio__trajeta .faceA{
    transform: perspective(600px) ratateY(0deg);
    box-shadow: 0 5px 10px var(--pure-black);
}
.portafolio__img{
    position: absolute;
    width: 581px;
    top: -175px;
}

.vsc__img{
    height: 279.13px;}

.dark__img{
    display: none;
}
.portafolio__subtitulo{
    position: absolute;
    top: 126px;
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 262px;
    min-width: 170px;
    justify-content: center;
    align-items: center;
}
.portafolio__trajeta .faceB{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(77, 77, 77, 0.099);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    flex-direction: column;
    transition: .5s;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    width: 100%;
    justify-content: center;
    padding: 10px;
}
.portafolio__descripcion{
    text-align: center;
    font-family: 'Open snas', sans-serif;
    line-height: 1.5;
    color: var(--pure-black);
    font-weight: 600;
}
.portafolio__botobnes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.portafolio__btn{
    display: flex;
    font-size: 12px;
    width: 127px;
    margin-top: 20px;
    padding: 19px 8px;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 40px;
    border: 3px solid rgb(255 255 255 / 74%);
    justify-content: space-evenly;
    font-weight: 700;
}
.portafolio__btn:hover{
    border: 3px solid var(--blue);
} 


@media (min-width:768px){
    .portafolio{
        background-size: 717px;
        position: relative;
    }
    .portafolio__contenedor{
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .portafolio__trajeta{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 357px;
        max-width: 461px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portafolio__img{
        position: absolute;
        width: 581px;
        top: -177px;
    }
    .vsc__img{
        height: 289.23px;
    }
    .portafolio__subtitulo{
        position: absolute;
        top: 108px;
        font-size: 1.2rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 278px;
        min-width: 170px;
        justify-content: center;
        align-items: center;
    }
    .portafolio__btn{
        display: flex;
        font-size: 15px;
        width: 107%;
        padding: 22px 16px;
        align-items: center;
        border-radius: 40px;
        justify-content: space-evenly;
        font-weight: 800;
    }
    
    .portafolio__btn:hover{
        transform: scale(1.1);
    }

}


@media (min-width:1200px){
    .portafolio{
    background-size: 717px;
    position: relative;
    justify-content: space-between;
    }
    .portafolio__contenedor{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .portafolio__trajeta{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 414px;
        max-width: 800px;
    }
    .portafolio__img{
        position: absolute;
        object-fit: cover;
        width: 540px;
        top: -179px;
        
    }
    .vsc__img{
        height: 266.92px;
    }
    .portafolio__btn{
        display: flex;
        font-size: 15px;
        width: 116%;
        padding: 24px 14px;
        align-items: center;
        border-radius: 40px;
        justify-content: space-evenly;
        font-weight: 700;
    }
    
    .portafolio__btn:hover{
        transform: scale(1.1);
    }
}
