.skills{
    display: flex;
    width: 100%;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: -61vh;
    z-index: 10px;
    min-height: 663px;
}
.skills__titulo{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills__cajas{
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 27px;
}
.skills__caja {
    height: 142px;
    width: 106px;
    display: flex;
    background: rgba(188, 188, 188, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.img {
    /* height: 30%; */
position: absolute;
transition: 0.2s ease-in-out;
z-index: 1;
}
.skills__texto {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;
    transition: 0.2s ease-in-out;
    z-index: 2;
    padding: 18px;
}

.skills__texto > .head {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}



.skills__caja:hover > .skills__texto {
    opacity: 1;
}

.skills__caja:hover > .img {
    height: 65%;
    filter: blur(8px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(-20px);
    }

    100% {
    transform: translateY(0);
    }
}
  
.skills__caja:hover {
    transform: scale(1.04) rotate(-1deg);
}

.skills__icono{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 61px;
}


 .javascript{
    filter: invert(76%) sepia(15%) saturate(7243%) hue-rotate(355deg) brightness(103%) contrast(104%);
}

.wordpress{
    filter: invert(30%) sepia(92%) saturate(836%) hue-rotate(169deg) brightness(98%) contrast(101%);
}
.textos{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}


.skills__parrafos{
    padding: 0 15px;
}
.textos__parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}

.skills__textos__contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 94%;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.skills__imagen__side img{
    display:flex;
    width: 300px;
}

.skills__descargar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.textos__link{
    color: var(--ligth-purple);
    text-decoration: none;
    font-weight: bold;
    
}
.textos__link:hover{
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.skills__descargar__icono{
    width: 30px;
}

@media (min-width:768px){
    .skills{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1182px;
        align-content: flex-start;
        flex-direction: row;
        height: unset;
        background-size: 506px;
    }
    .skills__titulo{
        display: flex;
        font-size: 3.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .skills__cajas{
        display: flex;
        width: 100%;
        align-items: center;
        z-index: 10;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        height: fit-content;
        gap: 10px;
        margin-left: 20px;
    }
    .skills__caja{
        height: 191px;
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills__texto{
        gap: 0;
    }
    .skills__icono{
        width: 104px;
    }
    .skills__icono .javascript{
        width:170px;
    }
    .textos{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .textos__parrafo{
    font-size: 1.1rem;
    text-align: justify;
    }
    .skills__textos__contenido{
        display: flex;
        flex-direction: column;
        width: 49%;
    }
    .skills__imagen__side img{
        display: flex;
        width: 442px;
    }
    
    .skills__descargar{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        width: 100%;
    }
}

@media (min-width:1200px){
    .skills__imagen__side{
        display:none;
    }
    .skills{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: 2452px;
        align-content: flex-start;
        flex-direction: row;
        background: url(../img/IAselfie.webp) no-repeat right;
        background-size: 623px;
        max-height: 1107px;
        height: 183vh;
        align-items: center;
    }
    .skills__titulo{
        display: flex;
        font-size: 3.5rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 471px;   
    }
    .skills__cajas{
        display: flex;
        height: 77vh;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        min-height: 523px;
        margin-left: 74px;
    }
    .skills__caja{
        height: 260px;
        width: 179px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .skills__texto > .head {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .skills__icono{
        width: 116px;
    }

    .skills__icono .javascript{
        width:170px;
    }
    
    .textos{
        display: flex;
        width: 77%;
        justify-content: flex-start;
    }
    .textos__parrafo{
        font-size: 1.2rem;
        text-align: justify;
    }
    .skills__textos__contenido{
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: flex-start;
    }
    .skills__descargar{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        width: 69%;
    }
}





