/** @format */

.skills {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 10;
    align-items: center;
}

.skills__container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.skills__titulo {
	font-size: 3.5rem;
	text-align: center;
}

.textos {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}


.textos__parrafo {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding: 0 14px;
}


.skills__textos__contenido {
	display: flex;
	flex-direction: column;
	width: 100%;
	display: flex;
	flex-direction: column;
	width: 94%;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(14.5px);
	-webkit-backdrop-filter: blur(14.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
    height: fit-content;
}

.skills__descargar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.textos__link {
	color: var(--ligth-purple);
	text-decoration: none;
	font-weight: bold;
}
.textos__link:hover {
	color: var(--blue);
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.skills__descargar__icono {
	width: 30px;
}

.skills__cards-container {
	display: flex;
}

.skills__cajas {
	display: flex;
    height: auto;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.skills__caja {
	height: 112px;
    width: 85px;
    display: flex;
    background: rgba(188, 188, 188, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.img {
	position: absolute;
	transition: 0.2s ease-in-out;
	z-index: 1;
}
.skills__texto {
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 43px;
	transition: 0.2s ease-in-out;
	z-index: 2;
	padding: 18px;
}

.skills__texto > .head {
	font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.skills__caja:hover > .skills__texto {
	opacity: 1;
}

.skills__caja:hover > .img {
	height: 65%;
	filter: blur(8px);
	animation: anim 3s infinite;
}

@keyframes anim {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0);
	}
}

.skills__caja:hover {
	transform: scale(1.04) rotate(-1deg);
}

.skills__icono {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 61px;
}

.javascript {
	filter: invert(76%) sepia(15%) saturate(7243%) hue-rotate(355deg)
		brightness(103%) contrast(104%);
}

.wordpress {
	filter: invert(30%) sepia(92%) saturate(836%) hue-rotate(169deg)
		brightness(98%) contrast(101%);
}



@media (min-width: 768px) {
	.skills {
		display: flex;
		width: 100%;
		min-height: 109vh;
		justify-content: flex-start;
	}
    .skills__container {
        width: 100%;
        flex-wrap: wrap;
    }
	.skills__titulo {
		font-size: 3.5rem;
	}
	.textos {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.skills__parrafos {
		padding: 1rem;
	}

	.textos__parrafo {
		font-size: 1.9rem;
		text-align: justify;
	}
	.skills__textos__contenido {
		flex-direction: column;
		width: 49%;
	}


	.skills__descargar {
		display: flex;
		justify-content: flex-start;
	}
	.skills__cajas {
		display: flex;
    width: 100%;
    align-items: center;
    z-index: 10;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    gap: 27px;
	}
	.skills__caja {
		height: 191px;
		width: 135px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.skills__texto {
		gap: 0;
	}
	.skills__icono {
		width: 104px;
	}
	.skills__icono .javascript {
		width: 170px;
	}
}

@media (min-width: 1200px) {
	.skills__container {

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
    }

	.skills__titulo {
		font-size: 3.5rem;
	}
	.textos {
		display: flex;
		width: 77%;
		justify-content: flex-start;
	}
	.textos__parrafo {
		text-align: justify;
		line-height: 1.7;
	}
	.skills__textos__contenido {
        width: 50%;
        min-width: 38%;
	}
	.skills__descargar {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.skills__caja {
		height: 168px;
		width: 110px;
	}
	.skills__texto > .head {
		font-size: 16px;
		font-weight: 700;
		text-align: center;
	}
	.skills__icono {
		width: 78px;	}

	.skills__icono .javascript {
		width: 170px;
	}
}
